.rating {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    margin-top: 2%;
    width: 100%;
    font-size: 16px;



}

.headrow,
.tabrow {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    background-color: #EEF0F1;
    border-radius: 2px;
}

.tabrow {
    margin-top: 2px;
}



.gamename {
    padding-left: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 300px;


    /*justify-content: flex-start !important;*/
}

.cntheader {

}

.cnt-span {
    margin-left: 6px;

    color: #B4BCC0;
    font-style: italic;
}

.playerheader {
   font-weight: bold;
   color: indigo;
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    box-shadow: -1px 0 0 0 #FF6B00;
    margin: 5px 0;
    flex-basis: 0;
}

.boxik {
    width: 100px;  /* Или что угодно */
    height: 30px; /* Или что угодно */
    margin: auto;  /* Магия! */
    display: flex;
    align-items: center;
    justify-content: center;

}

.boxik:first-child {
    width: 25%;
}