.rating {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    margin-top: 2%;
    width: 100%;
    font-size: 16px;


}

.headrow {
    display: flex;
}


.tabrow {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    background-color: #EEF0F1;
    border-radius: 2px;
}

.row-unread:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: red;
    left: 12px;
    top: 6px;
    height: 10px;
    width: 10px;
}

.play-unread:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    background-color: red;
    right: 0;
    height: 7px;
    width: 7px;
}

.comm-icon-holder {
    position: relative;
}

.tabrow:hover {
    background-color: #F6F7F8;
}

.tabrow {
    margin-top: 2px;
    cursor: pointer;
}

.champion-medal {
    position: absolute;
    left: 85px;
    width: 20px;
    height: 20px;
    fill: #FF6B00;
}

.gamename {
    padding-left: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 300px;
    box-sizing: border-box;
}


/*.headrow .gamename {*/
/*    cursor: initial;*/
/*}*/


.cnt-span {
    margin-left: 6px;
    color: #B4BCC0;
    font-style: italic;
}

.playerheader {
    font-weight: bold;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF6B00;
    height: 32px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 1px;
    margin-right: 1px;
    color: white;
    font-size: 16px;

}

.score {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    box-shadow: -1px 0 0 0 #FF6B00;
    margin: 5px 0;
    flex-basis: 0;
}

.score.winner {
    font-weight: bold;
}

.rating-detail-row {
    position: relative;
    display: flex;
}

.rating-detail-ddate {
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    width: 276px;
    margin-left: 24px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #CDD3D7;
    border-bottom: 1px solid rgba(180, 188, 192, 0.3);
}

.rating-detail-cell {
    position: relative;
    flex-basis: 0;
    flex-grow: 1;
    background-color: #CDD3D7;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(180, 188, 192, 0.3);
}

.rating-detail-cell.winner {
    font-weight: bold;
}

.rating-detail-cell.winner::before {
    content: "";
    position: absolute;
    left: 30px;
    top: 8px;
    width: 10px;
    height: 4px;
    border-radius: 1px;
    border-left: 3px solid #FF6B00;
    border-bottom: 3px solid #FF6B00;
    transform: rotate(-45deg);
}

.rating-detail-row::before {
    content: "";
    position: absolute;
    left: 10px;
    width: 8px;
    height: 50%;
    border-left: 1px solid #676D71;
    border-bottom: 1px solid #676D71;
}

.rating-detail-row:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 10px;
    height: 100%;
    border-radius: 1px;
    border-left: 1px solid #676D71;
}

.rating-detail-comm-span {
    font-size: 12px;
    margin-left: 10px;
    margin-right: 5px;
}

.rating-detail-ddate-span {
    font-size: 12px;
    margin-left: 6px;
    font-variant-numeric: tabular-nums;
}

.rating-detail-ddate-comm {
    opacity: 1;
    margin-left: 5px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

.rating-detail-ddate-comm.exist {
    opacity: 1;
}

.rating-detail-ddate:hover .rating-detail-ddate-comm {
    opacity: 1;
}

.comm-icon-exist {
    cursor: pointer;
}

.comm-icon-exist path{
    fill: red;
}