
.page-fullStory {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
}

.fullStory-headerline, .fullStory-line {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.fullStory-headerblock{
    border-style: solid;
    margin: 1px;
    width: 300px;
}

.fullStory-headerplayer{

    flex-grow: 1;
    background-color: #FF6B00;
    border-radius: 4px 4px 0 0;
    margin: 0  1px;
    font-size: 14px;
    text-align: center;
}

.fullStory-headerplayer:last-child {
    margin-right: 300px;
}



.bl {
    border: 1px dashed grey;
    margin: 1px;
}



.rrr {
    width: 100px;
    border: 1px dashed grey;
    margin: 1px;
}

