
.page-fullStory {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    width: 100%;
    max-width: 700px;

}

.fullStory-headerline {
  display: flex;

}

.fullStory-line {
    display: flex;
}

.fullStory-headerline:not(:first-child) {
    margin-top: 20px;
}

.fullStory-ddate{
    margin: 1px;
    width: 300px;

}

.fullStory-cellgame {
    margin: 0 1px;
    width: 300px;
    background-color: #F5F5F5;
}

.fullStory-headerplayer{

    flex-grow: 1;
    flex-basis: 0;
    max-width: 100px;
    background-color: #FF6B00;
    border-radius: 4px 4px 0 0;
    margin: 0  1px;
    font-size: 14px;
    text-align: center;
}

.fullStory-cellscore {
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1px;
    background-color: #F5F5F5;
}

.fullStory-cellscore.winner::before {
    content: "";
    position: absolute;
    left: 3px;
    top: 4px;
    width: 10px;
    height: 4px;
    border-radius: 1px;
    border-left: 3px solid #FF6B00;
    border-bottom: 3px solid #FF6B00;
    transform: rotate(-45deg);
}

.fullstory-span-counts {
    color: red;
    font-size: 10px;
    margin-left: 4px;

}






