.modal-back {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
    z-index: 1;

}


.post-new-play-modal {
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    text-transform: none;
    width: 480px;
    background: #FFFFFF;
    border-radius: 16px;
    padding: 32px 24px;
}

.post-new-play-caption {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: black;
    align-self: center;
}

.post-new-play-input-block {
    display: flex;
    flex-direction: column;
}

.post-new-play-field {
    background-color: #F6F7F8;
    border: 1px solid #EEF0F1;
    border-radius: 4px;
    height: 36px;
    width: 100% !important;
}

.post-new-play-field-comment {
    background-color: #F6F7F8;
    border: 1px solid #EEF0F1;
    border-radius: 4px;
    height: 72px;
}

.post-new-play-label {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #676D71;
    margin-bottom: 4px;
}

.radio-label {
    display: block;
    height: 32px;
    width: 32px;
    border: 1px solid #B4BCC0;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 16px;

}

.radio-label.selected {
    background-color: #FF6B00;
    border-color: #FF6B00;
}

.radio-label + input[type="radio"] {
    display: none;
}

.winner-icon {
    width: 30px;
    height: 30px;
}

.winner-icon.selected path{
    fill: white;

}

.winner-icon path {
    fill: #B4BCC0;
}

.post-new-play-error {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: red;
    margin-top: 4px;
}

/* не исп?*/
.player-line {
    display: flex;
    padding: 2px;

}

.player-raw {
    display: flex;
    margin-top: 8px;
    margin-bottom: 16px;
    align-items: center;
}

.player-label {
    margin-left: 10px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    height: 20px; /* identical to box height, or 125% */
    color: #222425;
    width: 100px;
}

.player-score {
    width: 100px;
    height: 36px;
    background: #F6F7F8;
    border: 1px solid #EEF0F1;
    border-radius: 4px;
    padding-left: 12px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #222425;

}

.post-new-play-button {
    height: 48px;
    width: 100%;
    background-color: #FF6B00;
    border-width: 0;
    border-radius: 8px;
    color: white;
    margin-top: 24px;
}

.player-input {
    position: absolute;
    left: -9999px;
}

.player-input + div {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;
}

.player-input + div:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

.player-input + div:before {
    border-radius: 2px;
}


.player-input + div:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.0s ease;
    -moz-transition: all 0.0s ease;
    -o-transition: all 0.0s ease;
    transition: all 0.0s ease;
}

.player-input + div:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #e145a3;
    border-bottom: 4px solid #e145a3;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.player-input:not(:checked) + div:after {
    opacity: 0;
}

.player-input:checked + div:after {
    opacity: 1;
}


