.header {
    position: fixed;
    background-color: white;
    display: grid;
    grid-template-columns: 300px auto 400px;
    height: 80px;
    align-items: center;
    width: 100%;
    z-index: 1;
    min-width: 1100px;
    padding-left: 48px;
    box-sizing: border-box;
}

.site-logo {

}

.other-header {
    display: flex;
    flex-direction: row;
}

.link-header {
    position: relative;
    display: block;
    margin-right: 52px;
    text-decoration: none;
    padding-bottom: 4px;

    color: #676D71;

    line-height: 1.2;
    font-size: 18px;
    font-weight: 700;

    overflow: hidden;

}

.link-header.active {
    color: #222425;
}

.link-header::after {
    position: absolute;
    content: "";
    background-color: #FF6B00;
    height: 4px;
    width: 100%;
    left: 0;
    bottom: -4px;
    transition: all 0.2s ease-in-out;
}

.link-header.active::after {
    transform: translateY(-4px);
}

.link-header:hover::after {
    transform: translateY(-4px);

}

.post-new-play-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.post-new-play-lbl {
    display: block;
    white-space: pre;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    margin-left: 8px;
    margin-right: 24px;
    color: #676D71;
}

.post-new-play-btn:hover .post-new-play-lbl{
    color: #222425;
}

.post-new-play-btn:hover .new-play-icon {
    fill: #222425;
}

.header-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.auth-block {
    display: flex;
    width: 400px;
    height: 50px;
    flex-shrink: 0;
}