.header {

    background-color: white;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;

}

.site-logo {
    margin-top: 26px;
    margin-bottom: 26px;
    margin-left: 48px;
}

