.page-calendar {
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2%;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.month {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-color: darkgray;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
}

.month-card {
    display: grid;
    grid-template-columns: repeat(7, auto);

}

.day {
    height: 11px;
    width: 11px;
    margin: 2px;
    border: 1px solid rgb(27, 31, 35, 0.06);
    outline-offset: -1px;
    background-color: #ebedf0;
    border-radius: 2px;
    cursor: pointer;
}

.day:hover {
    background-color: lightgrey;
}

.day.selected {

}

.day.with-plays {

}

.day.with-plays.plays1 {
    background-color: #9be9a8;
}

.day.with-plays.plays2 {
    background-color: #40c463;
}

.day.with-plays.plays3 {
    background-color: #30a14e;
}

.day.with-plays.plays4plus {
    background-color: #216e39;
}

.no-day {
    visibility: hidden;
}

.future-day {
    background-color: transparent;
    border-color: #CDD3D7;
    cursor: initial;
}

.future-day:hover {
    background-color: transparent;
}

.label-month {
    font-size: 10px;
    color: black;
    margin-bottom: 5px;
}

.day-history {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.day-history-line {
    display: flex;

}

.player-name-cell {
    width: 60px;
    background-color: #FF6B00;
    border-radius: 4px 4px 0 0;
    margin: 0  1px;
    font-size: 14px;
    text-align: center;
}

.game-name-cell {
    width: 200px;
    background-color: white;
    margin-right: 1px;
    font-size: 14px;
    padding-left: 4px;
    padding-top: 2px;
}

.score-cell {
    position: relative;
    width: 60px;
    margin: 0 1px;
    text-align: center;
    font-size: 14px;
    background-color: white;
    padding-top: 2px;
}

.score-cell.winner::before {
    content: "";
    position: absolute;
    left: 3px;
    top: 4px;
    width: 10px;
    height: 4px;
    border-radius: 1px;
    border-left: 3px solid #FF6B00;
    border-bottom: 3px solid #FF6B00;
    transform: rotate(-45deg);
}

.day-history-line:last-child .game-name-cell {
    padding-bottom: 6px;
    border-bottom-left-radius: 4px;
}

.day-history-line:nth-child(2) .game-name-cell {
    padding-top: 4px;
    border-top-left-radius: 4px;
}

.day-history-line:last-child .score-cell:last-of-type {
    border-bottom-right-radius: 4px;
}

.score-cell.winner {
}

.span-counts {
    color: red;
    font-size: 10px;
    margin-left: 4px;

}



.span-comment {
    margin-left: 20px;
    font-size: 14px;
    background-color: antiquewhite;
    white-space: nowrap;
}



.hid {
    visibility: hidden;
}
