.app-wrapper {
    display: flex;
    flex-direction: column;

    background-image: url("gamepack.jpg");
    background-size: cover;
    background-attachment: fixed;


    min-height: 100vh;


}

.main-area {
    height: 100%;
    margin-top: 80px;
}

* {
    font-family: 'Inter', sans-serif;
}

body, html {
    min-width: 1100px;
}