.app-wrapper {
    display: flex;
    flex-direction: column;

    background-image: url("gamepack.jpg");
    background-size: cover;
    background-attachment: fixed;


    height: 100vh;

}

.main-area {
    overflow-y: scroll;
    height: 100%;
}

* {
    font-family: 'Inter', sans-serif;
}